/* OpenOlat-docs extra stylesheet */
/* 1) variables */
/* 2) custome styles */
img {
  /* image border styles */
  /* image sizes */
  /* thumbnail styles */
  /* aside styles */
  /* lighbox style and marker class */
}
img.shadow {
  box-shadow: 0 4px 10px 1px silver;
}
img.border {
  border: 1px solid darkgray;
}
img.size16 {
  width: 16px;
  height: 16px;
}
img.size24 {
  width: 24px;
  height: 24px;
}
img.size32 {
  width: 32px;
  height: 32px;
}
img.size48 {
  width: 48px;
  height: 48px;
}
img.size64 {
  width: 64px;
  height: 64px;
}
img.thumbnail-sm {
  max-width: 150px;
  max-height: 100px;
}
img.thumbnail {
  max-width: 250px;
  max-height: 150px;
}
img.thumbnail-lg {
  max-width: 300px;
  max-height: 200px;
}
img.thumbnail-xl {
  max-width: 400px;
  max-height: 300px;
}
img.aside-right-sm, img.aside-right, img.aside-right-lg, img.aside-right-xl {
  float: right;
  margin: 0 0 1.5em 1.5em;
}
img.aside-right-sm {
  max-width: 150px;
}
img.aside-right {
  max-width: 250px;
}
img.aside-right-lg {
  max-width: 300px;
}
img.aside-right-xl {
  max-width: 400px;
}
@media (max-width: 800px) {
  img.aside-right-lg, img.aside-right-xl {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  img.aside-right-lg, img.aside-right-xl {
    max-width: 250px;
  }
}
@media (max-width: 500px) {
  img.aside-right, img.aside-right-lg, img.aside-right-xl {
    max-width: 150px;
  }
}
img.lightbox:hover {
  cursor: pointer;
  box-shadow: 0 0px 15px 0px #ff9100;
}

hr {
  clear: both;
}

figcaption {
  font-size: 85%;
}

@media print {
  img.lightbox {
    max-width: 100%;
    max-height: 100%;
  }
}
